div(class="block p-6 border bg-white border-gray-200 rounded-lg").container.form__container
    div.form__main-header
        if Object.keys(itemData).length > 0
            div.flex 
                span.mr-2 Edit 
                span=route.model
        else
             div.flex 
                span.mr-2 New 
                span=route.model
    hr.mb-4.mt-4
    form.form__main(enctype="multipart/form-data" novalidate data[model]=route.model ref="mainform__"+route.model)
        .form__main-body.col-span-3
        .form__main-side.border-l-2.p-4
            .form__main-details.mb-4
                if Object.keys(itemData).length
                    div.flex.justify-between
                        div.font-bold.uppercase.mr-1="id"
                        div=itemData.id
                    div.flex.justify-between
                        div.font-bold.uppercase.mr-1="created "
                        div=itemData.createdAt
                    div.flex.justify-between
                        div.font-bold.uppercase.mr-1="updated "
                        div=itemData.updatedAt
                    hr.mb-4.mt-4
                div.flex.justify-between
                    div.font-bold.uppercase
                        Changed fields
                    div(id="changedData")

            hr.mb-4
            div.flex
                button.btn-primary(type="submit" disabled ref="mainform__"+route.model+"--submitbutton")
                    div.flex
                        div.form__main-actionsubmit-icon
                        div Save
                button(class="btn-secondary") Reset
            div.mt-4
                .form__main-alert.hidden.alert

        template.form-field-template(data-for="String")
            div.mb-4(class="{{ shouldHide ? 'hidden': 'flex'}}")
                label.form__elt-label.w-24 {{ name }}
                input.form__elt-input(ref="{{modelName}}-{{name}}" type="text")

        template.form-field-template(data-for="String")
            div.mb-4(class="{{ shouldHide ? 'hidden': 'flex'}}")
                label.form__elt-label.w-24 {{ name }}
                input.form__elt-input(ref="{{modelName}}-{{name}}" type="text")

        template.form-field-template(data-for="DateTime")
            div.mb-4(class="{{ shouldHide ? 'hidden': 'flex'}}")
                label.form__elt-label.w-24 {{ name }}
                input.form__elt-input(ref="{{modelName}}-{{name}}" type="text")

        template.form-field-template(data-for="Boolean")
            div.mb-4(class="{{ shouldHide ? 'hidden': 'flex'}}")
                input.form__elt-boolean(ref="{{modelName}}-{{name}}" type="checkbox")
                label.form__elt-label.w-24 {{ name }}
                        
        template.form-field-template(data-for="Select")
            div.mb-4(class="{{ shouldHide ? 'hidden': 'flex'}}")
                label.form__elt-label.w-24 {{ name }}
                select.form__elt-select(ref="{{modelName}}-{{name}}")
                    option SELECT
                    option ----

    script(defer).
        window.addEventListener("DOMContentLoaded", async function() {
            if(window.APP.currentRoute.path.action === "edit") {
                window.APP.formRenderer.buildForm(
                    `[ref="mainform__${window.APP.currentRoute.path.model}"]`,
                    window.APP.currentRoute,
                    "template.form-field-template",
                    !{JSON.stringify(itemData)},
                    function() {
                        document
                            .querySelector(".route-edit")
                            .classList.replace("hidden", "block");
                    },
                    "mainform__" + window.APP.currentRoute.path.model+"--submitbutton"
                );
            }
        });
